<div class = 'content-section'>
	<div class = 'text-center'>
		<h1>Patient Forms</h1>
	</div>
	<br>
	<div id = 'patient-form-container'>
		<h3>To speed up your visit, print and fill out the following form and bring it to your appointment:</h3>
		<br>
		
		&#8226<%= link_to " Confidential Patient Case History", asset_path("patient_forms.pdf")%>
		
	</div>
</div>