<div class = 'content-section'>
	
	<div id = 'main-image' class = 'text-center'>
		<%= image_tag('house.jpg', :id => "house-image")%>
	</div>
	<br>
	<div class = 'text-center'>
		<h2> Hours </h2>
		<br>
		<table class = 'table table-striped' id = 'hours-table'>
			<tr><th>Monday</th><td>9am - 1pm  &  3pm - 7pm</td></tr>
			<tr><th>Tuesday</th><td>8am - 12pm</td></tr>
			<tr><th>Wednesday</th><td>9am - 1pm  &  3pm - 7pm</td></tr>
			<tr><th>Thursday</th><td>9am - 1pm</td></tr>
			<tr><th>Friday</th><td>9am - 1pm  &  3pm - 7pm</td></tr>
			<tr><th>Saturday</th><td>9am - 1pm</td></tr>
			<tr><th>Sunday</th><td>Closed</td></tr>
		</table>
	</div>
</div>

