<div class = 'container' id = 'banner'>
	<div id = 'logo'>
		<h2> Dr. Theresa Alianell </h2>
		<em><h4>chiropractor</h4></em>
	</div>

	<div class = 'container' id = 'info'>
		<h3>6416 Sonyea Rd. (RT 36)</h3>
		<h3>Mt. Morris, NY 14510 </h3>
		<br>
		<h3> Phone: (585) 658-4180 </h3>
		<h3> Fax: (585) 658-2850</h3>
	</div>
</div>

<ul class="sidenav">
  <li><a class="active" href="#home">Home</a></li>
  <li><a href="#news">Staff</a></li>
  <li><a href="#contact">Patient Forms</a></li>
  <li><a href="#about">Contact</a></li>
</ul>