






<div class = 'content-section'>
	
	<br>

	<div id = 'main-image' class = 'text-center'>
		<%= image_tag('house.jpg', :id => "house-image")%>
	</div>

	<div class = 'text-center'>
		<h2> Hours </h2>
		<p>sfhalk slkfjaslkfj lksjflakjf lkals kfjalskfj lksfjalkjf lkajjkl lkasj fl ksfjl sklfjlkjlkj sfhalk slkfjaslkfj lksjflakjf lkals kfjalskfj lksfjalkjf lkajjkl lkasj fl ksfjl sklfjlkjlk sfhalk slkfjaslkfj lksjflakjf lkals kfjalskfj lksfjalkjf lkajjkl lkasj fl ksfjl sklfjlkjlk sfhalk slkfjaslkfj lksjflakjf lkals kfjalskfj lksfjalkjf lkajjkl lkasj fl ksfjl sklfjlkjlk sfhalk slkfjaslkfj lksjflakjf lkals kfjalskfj lksfjalkjf lkajjkl lkasj fl ksfjl sklfjlkjlk</p>
	</div>
</div>

