<div class = 'content-section'>
	<div class = 'text-center'>
		<iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJ0z1Y3hFj0YkRj8qUKP-0YZY&key=AIzaSyDQpfXw0TpakURxlUVlHZrGQyYvtdb6ebs" allowfullscreen></iframe>
	</div>
</div>