<div class = 'content-section'>
	<div class = 'text-center'>
		<h1> Our Staff </h1>
	</div>
	<br>

	<div id = 'staff-container'>
		<div class = 'staff-item'>
			<h4> Dr. Theresa E. Alianell</h4>
			<%= image_tag('theresa.jpg', :class => "staff-image")%>
			<div class = 'staff-description'>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<p>
			</div>
		</div>
	</div>
	<br>
	<div id = 'staff-container'>
		<div class = 'staff-item'>
			<h4> Ellen Carlock</h4>
			<%= image_tag('theresa.jpg', :class => "staff-image")%>
			<div class = 'staff-description'>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <p>
			</div>
		</div>
	</div>
	<br>
	<div id = 'staff-container'>
		<div class = 'staff-item'>
			<h4> Person 3</h4>
			<%= image_tag('theresa.jpg', :class => "staff-image")%>
			<div class = 'staff-description'>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.<p>
			</div>
		</div>
	</div>
</div>