<div class = 'content-section'>
	<div class = 'text-center'>
		<h1> Our Staff </h1>
	</div>
	<br>

	<div class = 'staff-container'>
		<div class = 'staff-item'>
			<h4> Dr. Theresa E. Alianell</h4>
			
			<%= image_tag('theresa.jpg', :class => "staff-image")%>
			
			<div class = 'staff-description'>
				<p>Dr. Theresa graduated from Life Chiropractic College in March of 1990.  She practiced in Bristol Tennessee until October 1995 and opened an office in Mount Morris November 1995.  Gonstead diversified is her main adjusting technique, but she uses several different types of adjusting moves.   She fits the adjustment to the patient!  The practice originally was on Chapel Street but is now on route 36 just outside the village.  When not adjusting patients she can be found kayaking the lakes or hiking the finger lakes trail.<p>
			</div>
		</div>
	</div>
	<br>
	<div class = 'staff-container'>
		<div class = 'staff-item'>
			<h4> Ellen Carlock</h4>
			<%= image_tag('ellen.jpg', :class => "staff-image")%>
			<div class = 'staff-description'>
				<p>Ellen has been working with Dr. Theresa since 2004.  She has 4 wonderful children and 2 fabulous grandchildren.  Ellen manages the administrative aspects of the office.  She is in charge of a large share of the insurance billing. If you have a question about the running of the office or your blue cross/blue shield give her a call!<p>
			</div>
		</div>
	</div>
	<br>
	<div class = 'staff-container'>
		<div class = 'staff-item'>
			<h4>Jenny Leslie</h4>
			<%= image_tag('jenny.jpeg', :class => "staff-image")%>
			<div class = 'staff-description'>
				<p>Jenny has been working with Dr. Theresa since 2006. She is married and has 2 beautiful daughters and 3 handsome grandsons.  Jenny is in charge of records and medicare billing.  If you have any questions regarding either one of these things give her a call!<p>
			</div>
		</div>
	</div>
</div>