<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A message from your website:</h1>
    <br>
    <p>Name: <%=@contact.name%></p>
    <br>
    <p>Email Address: <%=@contact.email%></p>
    <br>
    <p>Message: <%=@contact.body%></p>
  </body>
</html>