<div class = 'credit-footer fixed-bottom'>
	Created by <a href = 'http://www.alexanderchichester.com'>Alex Chichester</a>
	<a href = 'https://www.facebook.com/Dr-Theresa-Alianell-192547087459794/'>
		<%=image_tag('facebook.png', id: 'facebook-logo')%>
	</a>
	</div>
</div>