<div class = 'container fixed-top' id = 'banner'>
	<div id = 'logo'>
		<img src="https://fontmeme.com/permalink/170715/b416d5f50b7c82664031261f9cd73d92.png" alt="calligraphy-fonts" border="0" id = 'text-logo'>
		<em><h4 id = 'chiropractor'>chiropractor</h4></em>
	</div>

	<div class = 'container' id = 'info'>
		<h3>6416 Sonyea Rd. (RT 36)</h3>
		<h3>Mt. Morris, NY 14510 </h3>
		<br>
		<h3> Phone: (585) 658-4180 </h3>
		<h3> Fax: (585) 658-2850</h3>
	</div>
</div>